*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    font-family: sans-serif;
    background: rgb(226, 225, 225);
    color:black;
    text-decoration: none;
}

/*===========================================================*/
 /* HEADER PADRÃO */

.header{
    height: 10vh;
    display: flex;
    align-items: center;
}

.logo{
    display:flex;
    flex: 1;
    margin: 10px;
    align-items: center;
}

.logo a{
    font-size:30px;
    font-weight: 600;
    margin: 10px 0 0 5px;
    text-decoration: none; 
    color:black;
    transition: .10s linear;
}

.logo a:hover{
    background: linear-gradient(180deg, rgba(247,157,188,0.9976365546218487) 24%, rgba(236,121,160,1) 37%, rgba(228,64,119,1) 70%, rgba(0,0,0,1) 95%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.bt{
    flex: 1;
    font-size: 20px;
}

.bt-link {
    display:flex;
    justify-content: space-around;
    list-style: none;
}

.link a {
    text-decoration: none;
    color:rgb(39, 39, 39);
    padding: 10px;
}

.selecti a{
    background: linear-gradient(180deg, rgba(247,157,188,0.9976365546218487) 24%, rgba(236,121,160,1) 37%, rgba(228,64,119,1) 70%, rgba(0,0,0,1) 95%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.bti a:hover{
    border:2px solid pink;
    border-radius: 9px;
}

.selectv a{
    border:2px solid #3498db;
    border-radius: 9px;
}

.btv a:hover{
    border:2px solid #3498db;
    border-radius: 9px;
}

.selecte a{
    border:2px solid #f1c40f;
    border-radius: 9px;
}

.bte a:hover{
    border:2px solid #f1c40f;
    border-radius: 9px;
}

.selectc  a{
    border: 2px solid #9b59b6;
    border-radius: 9px;
}

.btc a:hover{
    border:2px solid #9b59b6;
    border-radius: 9px;
}

.selectr a{
    border: 2px solid #1abc9c;
    border-radius: 9px;
}

.btr a:hover{
    border: 2px solid #1abc9c;
    border-radius: 9px;
}

/*FIM HEADER */

/*===========================================================*/
/*INICIO TELA INICIAL*/
.conteudo{
    height:90vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.texto h1{
    font-size: 70px;
    background: linear-gradient(180deg, rgba(247,157,188,0.9976365546218487) 24%, rgba(236,121,160,1) 37%, rgba(228,64,119,1) 70%, rgba(0,0,0,1) 95%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    
}

.texto p{
    font-size:30px;
}

.texto{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.imagemti {
    z-index: 1;
}

.imagemti img{
    height: 90vh;
}

.circlei {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pink;
    clip-path: circle(550px at right 750px);
}

/*FIM TELA INICIAL*/
/*===========================================================*/
/*INICIO GERENCIAR VENDAS*/

.contvenda{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.imagemtv {
    z-index: 1;
}

.imagemtv img {
    height: 90vh;
}

.midbox{
    margin-top: 20vh;
    height: 50vh;
    width: 60vw;
    margin-left: 5vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    border-radius: 15px;
    border: 2px solid #3498db;
    background-color: rgb(240, 239, 239);
    font-weight: 600;
    z-index: 1;
}

.produto{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size:20px;
    padding: 5px;
    align-items: center;
    width: 15vw;
}



.produto input{
    height: 20px;
    width: 50px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
}

.produto input:focus {
    outline: 1px solid #3498db;
}

.pagamento{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pagamento label {
    margin-right: 5px;
}

.btpag button {
    border-radius: 9px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: .05s linear;
}

.finalbt {
    border: 1px solid #3498db;
    color: rgb(39, 39, 39);
    background-color: snow;
}

.cancelbt {
    border: 1px solid rgb(92, 91, 91);
    background-color: snow; 
    color: rgb(92, 91, 91);
    margin-right:10px;
}

.btpag button:hover{
    transform: scale(1.1)
}

.circlev {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3498db;
    clip-path: circle(550px at right 750px);
}

/*FIM GERENCIAR VENDAS*/
/*===========================================================*/
/*INICIO GERENCIAR ESTOQUE*/

.contestoque{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.imagemte {
    z-index: 1;
}

.imagemte img {
    height: 90vh;
}

.midboxestoque{
    margin-top: 20vh;
    height: 50vh;
    width: 60vw;
    margin-left: 5vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    border-radius: 15px;
    border: 2px solid #f1c40f;
    background-color: rgb(240, 239, 239);
    font-weight: 600;
    z-index: 1;
}

.produtoest {
    display:grid;
    grid-template-columns: 3fr 1fr;
    border: 2px solid #f1c40f;
    border-radius: 5px;
    font-size:20px;
    padding: 5px;
    width: 15vw;
}

.produtoest input{
    height: 20px;
    width: 50px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    
}

.btalt button {
    border-radius: 9px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: .05s linear;
    border: 1px solid #f1c40f;
    color: rgb(39, 39, 39);
    background-color: snow;
    margin-right:10px;
}

.btalt button:hover {
    transform: scale(1.1)
}

.btconfirm button {
    border-radius: 9px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: .05s linear;
    margin-right:10px;
    display: none;
}

.confirmbt {
    border: 1px solid #f1c40f;
    color: rgb(39, 39, 39);
    background-color: snow;
}

.btconfirm button:hover {
    transform: scale(1.1);
}

.circlee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f0c416;
    clip-path: circle(550px at right 750px);
}

/*FIM GERENCIAR ESTOQUE*/
/*===========================================================*/
/*INICIO GERENCIAR CAIXA*/

.contcaixa{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.imagemtc {
    z-index: 1;
}

.imagemtc img {
    height: 90vh;
}

.midboxcaixa{
    margin-top: 20vh;
    height: 50vh;
    width: 60vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #9b59b6;
    background-color: rgb(240, 239, 239);
    font-weight: 600;
    z-index: 1;
}

.btzerar {
    flex: 1;
}

.btzerar button {
    border-radius: 9px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: .05s linear;
    border: 1px solid #9b59b6;
    color: rgb(39, 39, 39);
    background-color: snow;
   
}

.btzerar button:hover{
    transform: scale(1.1);
}
.valorc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
    font-size:30px;
    padding: 5px;
    flex: 2;
}

.valorc input{
    height: 5vh;
    width: 10vw;
    margin-top: 2.5vh;
    border: 1px solid #9b59b6;
    text-align: center;
}


.circlec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9b59b6;
    clip-path: circle(550px at right 750px);
}

/*FIM GERENCIAR CAIXA*/
/*===========================================================*/
/*INICIO RELATÓRIO*/
.contrel{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.imagemtr {
    z-index: 1;
}

.imagemtr img {
    height: 90vh;
}

.midboxrel{
    margin-top: 20vh;
    height: 50vh;
    width: 60vw;
    margin-left: 5vw;
    display:grid;
    /* grid-template-columns: 1fr 1fr; */
    place-items: center;
    /* border-radius: 15px; */
    border: 2px solid #1abc9c;
    background-color: rgb(240, 239, 239);
    font-weight: 600;
    z-index: 1;
    overflow:hidden;
    overflow-y:scroll;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-color: #1abc9c;
}

table { 
    width: 100%;
    margin: 3px 0 0 0;
    display: none;
    justify-content: center;
    align-items: center;
}



th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

.btrel button {
    border-radius: 9px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: .05s linear;
    border: 1px solid #1abc9c;
    color: rgb(39, 39, 39);
    background-color: snow;
    margin-right:10px;
}

.btrel button:hover {
    transform: scale(1.1)
}

.circler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1abc9c;
    clip-path: circle(550px at right 750px);
}

/*FIM RELATÓRIO*/
/*===========================================================*/