<html>

<head>
	<title>Coffewanai</title>
	<link rel="stylesheet" href="css/style2.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

	<div class="header">
		<div class="logo">
			<img src="images/coffee-cup.svg" height="30px" width="30px" ></img>
			<a href="/"> Coffewanai </a>
		</div>
		<nav class="bt">
			<ul class="bt-link">
				<li class="link btc"><a  href="/venda"> Venda </a></li>				
				<li class="link btc"><a  href="/estoque"> Estoque </a></li>									
				<li class="link btc selectc"><a  href="/caixa"> Caixa </a></li>										
				<li class="link btc"><a  href="/relatorio"> Relátorio </a></li>							
			</ul>
		</nav>
	</div>
	
	<div class="contcaixa">
		<div class="midboxcaixa">
			<div class="valorc">
				<label class="nomeproduto">Quantia em caixa:</label>
				<input placeholder="0" disabled>
			</div>

			<div class="btzerar">
				<button class="zerarbt">
					Zerar
				</button>
			</div>
			
				
		</div>
		
		<div class="imagemtc">
			<img src="images/sadistic.png"></img>
		</div>
	</div>
	

</body>
<footer>
	<div class="footers"></div>
</footer>

</html>