<html>

<head>
	<title>Coffewanai</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="css/style2.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<!-- Corpo da página -->

<body>
	<!-- Cabeçalho -->
	<div class="header">
		<!-- Logo -->
		<div class="logo">
			<img src="images/coffee-cup.svg" height="30px" width="30px"></img>
			<a href="/"> Coffewanai </a>
		</div>
		<!-- Botões para navegação da página -->
		<nav class="bt">
			<ul class="bt-link">
				<li class="link bte"><a href="/venda"> Venda </a></li>
				<li class="link bte selecte"><a href="/estoque"> Estoque </a></li>
				<li class="link bte"><a href="/caixa"> Caixa </a></li>
				<li class="link bte"><a href="/relatorio"> Relátorio </a></li>
			</ul>
		</nav>
	</div>
	<!-- Conteudo da página -->
	<div class="contestoque">
		<!-- Caixa central com as operações relacionadas ao gerenciamento de estoque -->
		<div class="midboxestoque">
			<div class="produtoest">
				<label class="nomeproduto">Sanduiche</label> <!-- Nome do produto -->
				<input inptprod value="0" type="number" min="0" disabled> <!-- Quantidade do produto -->
			</div>
			<div class="produtoest">
				<label class="nomeproduto">Chá gelado</label>
				<input inptprod value="0" type="number" min="0" disabled>
			</div>
			<div class="produtoest">
				<label class="nomeproduto">Onigiri</label>
				<input inptprod value="0" type="number" min="0" disabled>
			</div>
			<div class="produtoest">
				<label class="nomeproduto">Refrigerante</label>
				<input inptprod value="0" type="number" min="0" disabled>
			</div>
			<div class="produtoest">
				<label class="nomeproduto">Bandeja</label>
				<input inptprod value="0" type="number" min="0" disabled>
			</div>
			<div class="produtoest">
				<label class="nomeproduto">Suco</label>
				<input inptprod value="0" type="number" min="0" disabled>
			</div>
			<!-- Botão de alterar estoque -->
			<div class="btalt">
				<button class="altbt" id="alterar">
					Alterar
				</button>
			</div>
			<!-- Botões de confirmação e cancelamento da alteração no estoque -->
			<div class="btconfirm">
				<!-- Botão de cancelar alteração -->
				<button class="cancelbt" id="btcancel">
					Cancelar
				</button>
				<!-- Botão de confirmar alteração -->
				<button class="confirmbt" id="btcon">
					Confirmar
				</button>
			</div>


		</div>
		<!-- Imagem da página de estoque -->
		<div class="imagemte">
			<img src="images/sister.png"></img>
		</div>
		<!-- Circulo da página de estoque -->
		<div class="circlee"></div>

	</div>


</body>
<footer>
	<div class="footers"></div>
</footer>
<script>
	$("document").ready(function () {

		var prods = $('[inptprod]') // Função para pegar os inputs

		fetch('/adm') // Get para receber as quantidades dos produtos
			.then(res => res.json())
			.then(vals => {
				for( let i = 0; i < 6; i++) {
					prods[i].value = vals[i]
				};
			})

		$("#alterar").click(() => {  // Função para ao clicar em Alterar os botões confirmar e cancelar aparecerem
			$("#btcon").fadeIn();
			$("#btcancel").fadeIn();

			$("[inptprod]").prop("disabled", false); //Função para tornar os inputs antes não clicáveis, em clicláveis.						
		})


		// Funções de Confirmação de cancelamento e de atualização de estoque.
		$("#btcancel").click(() => {
			confirm("DESEJA CANCELAR AS ATUALIZAÇÕES?") ? window.location.href = '/estoque' : console.log('Cancelamento de atualização cancelado');
		})
		$("#btcon").click(() => {
			if (confirm("CONFIRMAR AS ATUALIZAÇÕES NO ESTOQUE?")) {
				let prodqnt = []
				for( let i = 0; i < 6; i++) {  // For para pegar os valores dos inputs
					prodqnt.push(Number(prods[i].value))
				};				
				$.post( "/adm/update", { prodqnt } ); // Post para atualizar os valores em estoque
				window.location.href='/estoque'
			} else {
				console.log('Atualização de estoque não realizada');
			}

		});




	})
</script>

</html>