<html>

<head>
	<title>Coffewanai</title>
	<link rel="stylesheet" href="css/style2.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<!-- Corpo da página -->
<body>
	<!-- Cabeçalho -->
	<div class="header">
		<!-- Logo -->
		<div class="logo selecti">
			<img src="images/coffee-cup.svg" height="30px" width="30px" ></img>
			<a href="/"> Coffewanai </a>
		</div>		
		<!-- Botões de navegação da página -->
		<nav class="bt">
			<ul class="bt-link">
				<li class="link bti"><a  href="/venda"> Venda </a></li>				
				<li class="link bti"><a  href="/estoque"> Estoque </a></li>									
				<li class="link bti"><a  href="/caixa"> Caixa </a></li>										
				<li class="link bti"><a  href="/relatorio"> Relátorio </a></li>							
			</ul>
		</nav>
	</div>
	<!-- Conteudo da página -->
	<div class="conteudo">
		<div class="texto">
			<h1> Coffewanai </h1>
			<p> Seu Sistema de Gerenciamento</p>
		</div>
		<!-- Imagem da pagina inicial -->
		<div class="imagemti">
			<img src="images/smile.png"></img>
		</div>
		<!-- Circulo da pagina inicial -->
		<div class="circlei"></div>
	</div>
	

</body>
<footer>
	<div class="footers"></div>
</footer>

</html>