<html>

<head>
	<title>Coffewanai</title>
	<link rel="stylesheet" href="css/style2.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<!-- Corpo da página -->
<body>
	<!-- Cabeçalho -->
	<div class="header">
		<!-- Logo -->
		<div class="logo">
			<img src="images/coffee-cup.svg" height="30px" width="30px" ></img>
			<a href="/"> Coffewanai </a>
		</div>
		<!-- Botões de navegação da página -->
		<nav class="bt">
			<ul class="bt-link">
				<li class="link btr"><a  href="/venda"> Venda </a></li>				
				<li class="link btr"><a  href="/estoque"> Estoque </a></li>									
				<li class="link btr"><a  href="/caixa"> Caixa </a></li>										
				<li class="link btr selectr"><a  href="/relatorio"> Relátorio </a></li>							
			</ul>
		</nav>
	</div>
	<!-- Conteudo da página -->
	<div class="contrel">
		<!-- Caixa central com as operações relacionadas à geração de relatório -->
		<div class="midboxrel">
			<div class="valorc">
				<label class="nomeproduto">Quantia em caixa:</label>
				<input placeholder="0" disabled>
			</div>
			<!-- Botão de gerar relatório -->
			<div class="btrel">
				<button class="relbt">
					Gerar Relatório
				</button>
			</div>
			
				
		</div>
		<!-- Imagem da página de relatório -->
		<div class="imagemtr">
			<img src="images/surprise.png"></img>
		</div>
		<!-- Circulo da página de relatório -->
		<div class="circler">
	</div>
	

</body>
<footer>
	<div class="footers"></div>
</footer>

</html>