<html>

<head>
	<title>Coffewanai</title>
	<link rel="stylesheet" href="css/style2.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

	<div class="header">
		<div class="logo">
			<img src="images/coffee-cup.svg" height="30px" width="30px"></img>
			<a href="/"> Coffewanai </a>
		</div>
		<nav class="bt">
			<ul class="bt-link">
				<li class="link btv selectv"><a href="#"> Venda </a></li>
				<li class="link btv"><a href="/estoque"> Estoque </a></li>
				<li class="link btv"><a href="/caixa"> Caixa </a></li>
				<li class="link btv"><a href="/relatorio"> Relátorio </a></li>
			</ul>
		</nav>
	</div>

	<div class="contvenda">
		<div class="midbox">
			<div class="produto">
				<label class="nomeproduto">Nome do produto</label>
				<input class="inp" placeholder="0">
				<div class=btpm>
					<button class="plus fas fa-angle-up"></button>
					<button class="minus fas fa-angle-down"></button>
				</div>
			</div>
			<div class="produto">
				<label class="nomeproduto">Nome do produto</label>
				<input placeholder="0">
				<div class=btpm>
					<button class="plus fas fa-angle-up"></button>
					<button class="minus fas fa-angle-down"></button>
				</div>
			</div>
			<div class="produto">
				<label class="nomeproduto">Nome do produto</label>
				<input placeholder="0">
				<div class=btpm>
					<button class="plus fas fa-angle-up"></button>
					<button class="minus fas fa-angle-down"></button>
				</div>
			</div>
	
			<div class="produto">
				<label class="nomeproduto">Nome do produto</label>
				<input placeholder="0">
				<div class=btpm>
					<button class="plus fas fa-angle-up"></button>
					<button class="minus fas fa-angle-down"></button>
				</div>
			</div>
			<div class="produto">
				<label class="nomeproduto">Nome do produto</label>
				<input placeholder="0">
				<div class=btpm>
					<button class="plus fas fa-angle-up"></button>
					<button class="minus fas fa-angle-down"></button>
				</div>
			</div>
			<div class="produto">
				<label class="nomeproduto">Nome do produto</label>
				<input placeholder="0">
				<div class=btpm>
					<button class="plus fas fa-angle-up"></button>
					<button class="minus fas fa-angle-down"></button>
				</div>
			</div>
			<div class="pagamento">
				<label class="pag">Dinheiro </label><input type="radio" name="metodo" value="Dinheiro">
				<label class="pag">Cartão </label><input type="radio" name="metodo" value="Cartão">
			</div>
	
			<div class="btpag">
				<button class="cancelbt">
					Cancelar
				</button>
				<button class="finalbt">
					Finalizar
				</button>
			</div>	
		</div>
		
		<div class="imagemtv">
			<img src="images/sweet.png"></img>
		</div>
	</div>
	




</body>
<footer>
	<div class="footers"></div>
</footer>

</html>