<html>

<head>
	<title>Coffewanai</title>
	<link rel="stylesheet" href="css/style2.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<!-- Corpo da página -->
<body>
	<!-- Cabeçalho -->
	<div class="header">
		<!-- Logo -->
		<div class="logo">
			<img src="images/coffee-cup.svg" height="30px" width="30px"></img>
			<a href="/"> Coffewanai </a>
		</div>
		<!-- Botões de navegação da págnia -->
		<nav class="bt">
			<ul class="bt-link">
				<li class="link btv selectv"><a href="#"> Venda </a></li>
				<li class="link btv"><a href="/estoque"> Estoque </a></li>
				<li class="link btv"><a href="/caixa"> Caixa </a></li>
				<li class="link btv"><a href="/relatorio"> Relátorio </a></li>
			</ul>
		</nav>
	</div>
	<!-- Conteudo da página -->
	<div class="contvenda">
		<!-- Caixa central com as operações relacionadas à venda -->
		<div class="midbox">
			<div class="produto">
				<label class="nomeproduto">Sanduiche</label> <!-- Nome do produto -->
				<input inptprod placeholder="0" type="number" min="0" valorp="10"> <!-- Quantidade do produto -->

			</div>
			<div class="produto">
				<label class="nomeproduto">Chá gelado</label>
				<input inptprod placeholder="0" type="number" min="0" valorp="6">

			</div>
			<div class="produto">
				<label class="nomeproduto">Onigiri</label>
				<input inptprod placeholder="0" type="number" min="0" valorp="5">

			</div>

			<div class="produto">
				<label class="nomeproduto">Refrigerante</label>
				<input inptprod placeholder="0" type="number" min="0" valorp="5">

			</div>
			<div class="produto">
				<label class="nomeproduto">Bandeja</label>
				<input inptprod placeholder="0" type="number" min="0" valorp="15">

			</div>
			<div class="produto">
				<label class="nomeproduto">Suco</label>
				<input inptprod placeholder="0" type="number" min="0" valorp="4">

			</div>
			<!-- Botões para selecionar o metodo de pagamento -->
			<div class="pagamento">
				<label class="pag">Dinheiro </label><input type="radio" name="metodo" placeholder="Dinheiro" required>
				<label class="pag">Cartão </label><input type="radio" name="metodo" placeholder="Cartão" required>
			</div>
			<!-- Botões de cancelar e finalizar venda -->
			<div class="btpag">
				<button class="cancelbt" id="btcancel">
					Cancelar
				</button>
				<button class="finalbt" id="btconfirm" name=metodo>
					Finalizar
				</button>
			</div>
		</div>
		<!-- Imagem da página de venda -->
		<div class="imagemtv">
			<img src="images/sweet.png"></img>
		</div>
		<!-- Circulo da página de venda -->
		<div class="circlev"></div>
	</div>





</body>
<footer>
	<div class="footers"></div>
</footer>

<script>
	// Funções de Confirmação de cancelamento de venda e alerta de finalização
	$("document").ready(() => {

		var prods = $('[inptprod]') // Função para pegar os inputs
		console.log(prods)
		var prodqnt = [];

		fetch('/adm') // Get para receber as quantidades dos produtos
			.then(res => res.json())
			.then(vals => {
				for( let i = 0; i < 6; i++) {
					prodqnt[i] = vals[i]
				};
			})
		


		$("#btcancel").click(() => {
			confirm("DESEJA CANCELAR A VENDA ATUAL?") ? window.location.href = '/venda' : console.log('Cancelamento de venda cancelado');
		})
		$("#btconfirm").click(() => {
			let prodvenda = "";
			let valvenda = 0;

			for( let i = 0; i < 6; i++) {
				if(prods[i].value > 0) {
					prodvenda += ` ${prods[i].previousElementSibling.innerText} ${prods[i].value}x .`;
					valvenda += prods[i].getAttribute("valorp") * prods[i].value;
					prodqnt[i] -= [prods[i].value]
				}
			};

			var docVenda={
				"produtos": prodvenda,
				"valor": valvenda
			}

			$.post( "/venda",  docVenda  );
			$.post( "/adm/update", { prodqnt } );

			alert("COMPRA FINALIZADA")
			window.location.href = '/venda'
		});



	})

</script>

</html>