<html>

<head>
	<title>Coffewanai</title>
	<link rel="stylesheet" href="css/style2.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<!-- Corpo da página -->

<body>
	<!-- Cabeçalho -->
	<div class="header">
		<!-- Logo -->
		<div class="logo">
			<img src="images/coffee-cup.svg" height="30px" width="30px"></img>
			<a href="/"> Coffewanai </a>
		</div>
		<!-- Botões de navegação da págnia -->
		<nav class="bt">
			<ul class="bt-link">
				<li class="link btv selectv"><a href="#"> Venda </a></li>
				<li class="link btv"><a href="/estoque"> Estoque </a></li>
				<li class="link btv"><a href="/caixa"> Caixa </a></li>
				<li class="link btv"><a href="/relatorio"> Relátorio </a></li>
			</ul>
		</nav>
	</div>
	<!-- Conteudo da página -->
	<div class="contvenda">
		<!-- Caixa central com as operações relacionadas à venda -->
		<div class="midbox">
			<div class="produto">
				<label class="nomeproduto">Sanduiche</label> <!-- Nome do produto -->
				<input inptprod id="prod0" placeholder="0" type="number" min="0" valorp="10"> <!-- Quantidade do produto -->

			</div>
			<div class="produto">
				<label class="nomeproduto">Chá gelado</label>
				<input inptprod id="prod1" placeholder="0" type="number" min="0" valorp="6">

			</div>
			<div class="produto">
				<label class="nomeproduto">Onigiri</label>
				<input inptprod id="prod2" placeholder="0" type="number" min="0" valorp="5">

			</div>

			<div class="produto">
				<label class="nomeproduto">Refrigerante</label>
				<input inptprod id="prod3" placeholder="0" type="number" min="0" valorp="5">

			</div>
			<div class="produto">
				<label class="nomeproduto">Bandeja</label>
				<input inptprod id="prod4" placeholder="0" type="number" min="0" valorp="15">

			</div>
			<div class="produto">
				<label class="nomeproduto">Suco</label>
				<input inptprod id="prod5" placeholder="0" type="number" min="0" valorp="4">

			</div>
			<!-- Botões para selecionar o metodo de pagamento -->
			<div class="pagamento">
				<label radpag class="pag">Dinheiro </label><input value="din" type="radio" name="metodo" placeholder="Dinheiro"
					required>
				<label radpag class="pag">Cartão </label><input value="cart"type="radio" name="metodo" placeholder="Cartão" checked>
			</div>
			<!-- Botões de cancelar e finalizar venda -->
			<div class="btpag">
				<button class="cancelbt" id="btcancel">
					Cancelar
				</button>
				<button class="finalbt" id="btconfirm" name=metodo>
					Finalizar
				</button>
			</div>
		</div>
		<!-- Imagem da página de venda -->
		<div class="imagemtv">
			<img src="images/sweet.png"></img>
		</div>
		<!-- Circulo da página de venda -->
		<div class="circlev"></div>
	</div>





</body>
<footer>
	<div class="footers"></div>
</footer>

<script>
	// Funções de Confirmação de cancelamento de venda e alerta de finalização
	$("document").ready(() => {

		var prods = $('[inptprod]') // Função para pegar os inputs
		var prodqnt = [];

		fetch('/adm') // Get para receber as quantidades dos produtos
			.then(res => res.json())
			.then(vals => {
				for (let i = 0; i < 6; i++) {
					prodqnt[i] = vals[i]
				};
			})
		
		
		$('[inptprod]').change(e => {		// Função para ao selecionar uma quantidade de produtos maior do que há no estoque emitir um alerta
			if(prodqnt[e.target.id.slice(4)] < e.target.value){
				alert(`A Quantidade de ${e.target.parentElement.innerText} em Estoque é ${prodqnt[e.target.id.slice(4)]}`)
			}
		})


		// Funções de Confirmação de cancelamento e de Venda.
		$("#btcancel").click(() => {
			confirm("DESEJA CANCELAR A VENDA ATUAL?") ? window.location.href = '/venda' : console.log('Cancelamento de venda cancelado');
		})
		$("#btconfirm").click(() => {
			let prodvenda = "";
			let valvenda = 0;

			 for (let i = 0; i < 6; i++) {  //For para juntar os dados da venda, produtos em prodvenda, valor em valvenda e quantidade em prodqnt
				if (prods[i].value > 0) {
					prodvenda += ` ${prods[i].previousElementSibling.innerText} ${prods[i].value}x .`;
					valvenda += prods[i].getAttribute("valorp") * prods[i].value;
					prodqnt[i] -= [prods[i].value]
				}
			};

			if(confirm(`CONFIRMAR COMPRA NO VALOR DE R$ ${valvenda},00 ?`)) {
				var docVenda = {   // Gerando objeto que contém produtos e valor da venda, para serem enviados ao BD através do post
					"produtos": prodvenda,
					"valor": valvenda
				}
				$.post("/venda", docVenda);

				$.post("/adm/update", { prodqnt }); // Post atualizando a quantidade de produtos em estoque

					if($("input:checked").val() === "din") {   // Caso o pagamento escolhido tenha sido dinheiro, acrescentar o valor ao montante em caixa
				$.post("/adm/updateCx", { valvenda });
				}

				alert(`COMPRA FINALIZADA`)
				window.location.href = '/venda'
			}

		});



	})

</script>

</html>